/Piratas_en_el_Caribe/nbproject/private/
/JavaApplication11/nbproject/private/
/Piratas_en_el_Caribe/build/
/Piratas_en_el_Caribe-Servidor/nbproject/private/
/Piratas_en_el_Caribe-Servidor/Piratas_en_el_Caribe-Servidor/nbproject/private/
/Piratas_en_el_Caribe-Interfaz/nbproject/private/
/Piratas_en_el_Caribe-Cliente/nbproject/private/
/Piratas_en_el_Caribe-Servidor/Piratas_en_el_Caribe-Servidor/build/
/Piratas_en_el_Caribe-Interfaz/build/
/Piratas_en_el_Caribe-Servidor/build/
/Piratas_en_el_Caribe-Cliente/build/
/Piratas_en_el_Caribe-Cliente/dist/
/Piratas_en_el_Caribe/dist/
